.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-item-center {
    justify-items: center;
}

.align-item-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-self-end {
    justify-self: end;
}

.flex-justify-between {
    justify-content: space-between;
}